<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jebora.jebora" >

    <uses-sdk android:minSdkVersion="7" android:maxSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SignUp_2"
            android:label="@string/title_activity_sign_up_2"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SignUp" />
        </activity>
        <activity
            android:name=".PhotoGridView"
            android:label="@string/title_activity_photo_grid_view"
            android:parentActivityName=".UserMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserMain" />
        </activity>
        <activity
            android:name=".ChooseProduct"
            android:label="@string/title_activity_choose_product"
            android:parentActivityName=".UserMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserMain" />
        </activity>
        <activity
            android:name=".PreviewProduct"
            android:label="@string/title_activity_preview_product"
            android:parentActivityName=".ChooseProduct" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseProduct" />
        </activity>
        <activity
            android:name=".PayvementInfo"
            android:label="@string/title_activity_payvement_info"
            android:parentActivityName=".PreviewProduct" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PreviewProduct" />
        </activity>
        <activity
            android:name=".UserMain"
            android:label="@string/title_activity_user_main" >
        </activity>
    </application>

</manifest>
